- name: Deploy Helm chart
  community.kubernetes.k8s:
    state: "{{ ubiquiti_state }}"
    namespace: "{{ ubiquiti_namespace }}"
    resource_definition:
      apiVersion: helm.cattle.io/v1
      kind: HelmChart
      metadata:
        name: "{{ ubiquiti_unifi_helm_chart_name }}"
      spec:
        chart: "{{ ubiquiti_unifi_helm_chart_name }}"
        repo: https://jamesgoodhouse.github.io/helm-charts
        version: 0.1.21
        valuesContent: |-
          ingressroute:
            enabled: true
            host: "{{ ubiquiti_gui_host | mandatory }}"
            tls:
              passthrough: true
              secretName: "{{ ubiquiti_gui_host | mandatory }}"
          rsync_backup:
            enabled: true
            backup_dir_path: 'Config\ Backups/unifi'
            address: nas.home.goodhouse.io
            schedule: "{{ ubiquiti_unifi_backup_schedule }}"
          resources:
            limits:
              cpu: 250m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 256Mi

- name: Deploy Certificate
  community.kubernetes.k8s:
    state: "{{ ubiquiti_state }}"
    namespace: "{{ ubiquiti_namespace }}"
    resource_definition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: "{{ ubiquiti_gui_host | mandatory }}"
      spec:
        dnsNames:
        - "{{ ubiquiti_gui_host | mandatory }}"
        secretName: "{{ ubiquiti_gui_host | mandatory }}"
        issuerRef:
          name: "{{ ubiquiti_unifi_certificate_issuer }}"
          kind: ClusterIssuer

- name: Deploy Secret for backup job
  community.kubernetes.k8s:
    state: "{{ ubiquiti_state }}"
    namespace: "{{ ubiquiti_namespace }}"
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ ubiquiti_unifi_helm_chart_name }}-ssh"
      type: Opaque
      data:
        id_rsa: "{{ lookup('file', role_path + '/files/id_rsa.vault', rstrip=False) | b64encode }}"
        known_hosts: "{{ lookup('file', role_path + '/files/known_hosts.vault', rstrip=False) | b64encode }}"
