- name: Deploy Helm chart
  register: helm_chart
  community.kubernetes.k8s:
    state: "{{ cert_manager_state }}"
    namespace: "{{ cert_manager_namespace }}"
    resource_definition:
      apiVersion: helm.cattle.io/v1
      kind: HelmChart
      metadata:
        name: cert-manager
      spec:
        chart: cert-manager
        repo: https://charts.jetstack.io
        version: "{{ cert_manager_helm_chart_version }}"
        valuesContent: |-
          global:
            priorityClassName: system-cluster-critical
          installCRDs: true
          prometheus:
            enabled: false

# - name: Wait for Helm chart to be deployed
#   community.kubernetes.k8s_info:
#     name: "{{ helm_chart.result.status.jobName }}"
#     namespace: "{{ cert_manager_namespace }}"
#     kind: Job
#     wait: true
#     wait_condition:
#       type: Complete
#       status: "True"
#   when: cert_manager_state == 'present' and helm_chart.changed

- name: Deploy cert-manager-webhook-namecheap Helm chart
  community.kubernetes.k8s:
    state: "{{ cert_manager_state }}"
    namespace: "{{ cert_manager_namespace }}"
    resource_definition:
      apiVersion: helm.cattle.io/v1
      kind: HelmChart
      metadata:
        name: cert-manager-webhook-namecheap
      spec:
        chart: cert-manager-webhook-namecheap
        repo: https://jamesgoodhouse.github.io/cert-manager-webhook-namecheap
        version: "{{ cert_manager_webhook_namecheap_helm_chart_version }}"
        valuesContent: |-
          priorityClassName: system-cluster-critical

- name: Deploy ClusterRole for webhooks
  community.kubernetes.k8s:
    state: "{{ cert_manager_state }}"
    namespace: "{{ cert_manager_namespace }}"
    resource_definition:
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRole
      metadata:
        name: cert-manager-webhook:extensions
        namespace: "{{ cert_manager_namespace }}"
        labels:
          app: webhook
      rules:
        - apiGroups:
          - acme.namecheap.com
          resources:
          - '*'
          verbs:
          - 'create'

- name: Deploy ClusterRoleBinding for webhooks
  community.kubernetes.k8s:
    state: "{{ cert_manager_state }}"
    namespace: "{{ cert_manager_namespace }}"
    resource_definition:
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: cert-manager-webhook:extensions
        namespace: "{{ cert_manager_namespace }}"
        labels:
          app: webhook
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: cert-manager-webhook:extensions
      subjects:
      - apiGroup: ""
        kind: ServiceAccount
        name: cert-manager
        namespace: "{{ cert_manager_namespace }}"

- name: Deploy Secret for Namecheap credentials
  community.kubernetes.k8s:
    state: "{{ cert_manager_state }}"
    namespace: "{{ cert_manager_namespace }}"
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ cert_manager_webhook_namecheap_credential_secret_name }}"
      type: Opaque
      data:
        apiKey: "{{ cert_manager_webhook_namecheap_api_key | b64encode }}"
        apiUser: "{{ cert_manager_webhook_namecheap_api_user | b64encode }}"

- name: Deploy Secret for Let's Encrypt Account Key
  community.kubernetes.k8s:
    state: "{{ cert_manager_state }}"
    namespace: "{{ cert_manager_namespace }}"
    resource_definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ cert_manager_letsencrypt_account_key_secret_name }}"
      type: Opaque
      data:
        tls.key: "{{ lookup('file', role_path + '/files/letsencrypt_account_key.vault', rstrip=False) | b64encode }}"

- name: Deploy ClusterIssuer for Let's Encrypt
  community.kubernetes.k8s:
    state: "{{ cert_manager_state }}"
    namespace: "{{ cert_manager_namespace }}"
    resource_definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: letsencrypt
      spec:
        acme:
          server: https://acme-v02.api.letsencrypt.org/directory
          disableAccountKeyGeneration: true
          privateKeySecretRef:
            name: "{{ cert_manager_letsencrypt_account_key_secret_name }}"
          solvers:
          - dns01:
              webhook:
                groupName: acme.namecheap.com
                solverName: namecheap
                config:
                  apiKeySecretRef:
                    key: apiKey
                    name: "{{ cert_manager_webhook_namecheap_credential_secret_name }}"
                  apiUserSecretRef:
                    key: apiUser
                    name: "{{ cert_manager_webhook_namecheap_credential_secret_name }}"
            selector:
              dnsZones:
              - home.goodhouse.io
